{% extends 'base.html' %}
{% block content %}
	{# imports maplibre-gl script and stylesheet for map integration #}
	<link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>	
	<style>
		#map-container { height: 100%; padding: 5% 0 0;}
		#map { height: 80%; width: 80%; margin: 0 auto; max-width: 1000px;}
	</style>
	
	<div id='map-container'>
		<div id='map'></div>
	</div>
	
	{{ MAPBOX_TOKEN|json_script:"token" }}	
	<script>
		const token = JSON.parse(document.getElementById('token').textContent) 
		console.log(token)	
		
		mapboxgl.accessToken = `${token}`;
			const map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v9',
				projection: 'globe', // Display the map as a globe, since satellite-v9 defaults to Mercator
				zoom: 0.3,
				center: [30, 15],
				attributionControl: false,
			});
	</script>
{% endblock %}
