<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>geoshapes</title>
	</head>
	<style>
			body { margin: 0; padding: 0; }
			html, body, #main-content { height: 100%; }
	</style>
	<body>    
			{% load django_bootstrap5 %}
			{% bootstrap_css %}
			<div class='w-100 bg-dark p-3'>
				<span class='text-light fw-bold'>Geoshapes</span>
			</div>
			<div id='main-content' class='bg-dark-subtle'>
				{% block content %}{% endblock %}
			</div>	
	</body>
</html>
