<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>geoshapes</title>
	</head>
	<style>
		body { margin: 0; padding: 0; }
		html, body, #main-content { height: 100%; }
		.main-content-bg { background-color: lightgrey;}
	</style>
	<body>    
		{% load django_bootstrap5 %}
		{% bootstrap_css %}
		<div class='w-100 bg-dark p-3 d-flex justify-content-between'>
			<span class='text-light fw-bold'>Geoshapes</span>
			<span class='text-light fw-light'>Fun with geographic features!<span>
		</div>
		<div id='main-content' class='main-content-bg'>
			{% block content %}{% endblock %}
		</div>	
	</body>
</html>
